torch
torchvision
numpy
opencv-python
Pillow
tqdm>=4.36.0
matplotlib
plotly
scipy
omegaconf
pytorch-lightning
torchmetrics
lxml
rtree
scikit-learn
geopy
exifread
hydra-core
umsgpack
nuscenes-devkit
urllib3>=2
wandb